[Desktop Entry]
Version=1.0
Categories=GTK;GNOME;Office;
Icon=org.gnome.papis.SearchProvider
Name=papis
Comment=GNOME Shell search provider for pass and Bitwarden
Terminal=true
Type=Application
OnlyShowIn=GNOME;
